hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.listaRodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .listaRodape {
        display: block;
    }
    
    .listaRodapeItem {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .listaRodapeLink {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .listaRodapeTitulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodapeTitulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .listaRodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}